@charset "utf-8";

        @media (min-width:576px) and (max-width:766px) {

header{width:100%;  position: absolute; padding:0 15px; margin:0 auto; border-bottom:1px solid #666; background-color:#fff ; z-index: 100;}
            header > nav {width:100%; height:100%; display: inline-block}
            header > nav > #menubar1 {width:100%; height:100%; display: flex; justify-content: space-between;}
                header > nav > #menubar1 > #logo {width:80px; height:100%;  padding:23px 16px 20px 0;  float:left;}
                header > nav > #menubar1 > #logo > #logoImg {width:64px; height:28px; margin: auto; background-image: url("../img/icon/logo-dark.png"); background-position: center; background-size: cover; background-repeat: no-repeat;}
                header > nav > #menubar1 > #logo > #logoImg:hover {cursor: pointer;}
                header > nav > #menubar1 > button {width:42px; height:38px; margin:16px 0; padding:10px 13px; text-align: center; background-color: #fff; float: right; border: 1px solid #eee; border-radius: 5px;}
                header > nav > #menubar1 > button:hover {cursor: pointer;}
                    header > nav > #menubar1 > button > img {width:14px; height:16px;}

                header > nav > #menubar2 {width:100%; height:100%; }
                    header > nav > #menubar2 >  ul {width:100%; background-color: #fff; display: flex; flex-direction: column; }
                        header > nav > #menubar2 > ul > li {width:100%; height:34px; font-size: 10.5px; padding:8px 0;  font-weight: bold; letter-spacing: 2px; background-color: #fff; }
                        header > nav > #menubar2 > ul > li > a {color:#717171;}
                        
                        header > nav > #menubar2 > ul > li:nth-child(8) > img {filter: invert(); }
                        header > nav > #menubar2 > ul > li:nth-child(9) {height:50px; color:#717171; padding: 8px 0 24px;}
                        header > nav > #menubar2 > ul > li:nth-child(9) > h3 > pre > img {filter: invert(); }

                        header > nav > #menubar2 > ul > li:hover{cursor:pointer;}

                        header > nav > #menubar2 > ul > li > #bell {width:21px; height:21px;}
                        header > nav > #menubar2 > ul > li > #call {width:137px; height:100%; padding: 26px 0 24px 19px;}
                        header > nav > #menubar2 > ul > li > #call > h3 > pre {width: 133px; font-size: 12px; color:#fff; line-height: 10px; }
                        header > nav > #menubar2 > ul > li > h3 > pre > img {width:14px; height:14px;}
               

        

        /* 푸터 */
        footer {width:100%; height:710px; background-color:#181818; margin:50px 0 0; padding:80px 0 32px;}
        
        footer > #footerContainer {width:540px; height:598px; margin:0 auto; padding:0 15px; }
        footer > #footerContainer > #footerCenter {width:540px; height:520px; margin:0 -15px 32px;}
        footer > #footerContainer > #footerCenter > .footer1 {width:270px; height:176px; padding:0 15px; margin:0 0 24px; float: left;}
        footer > #footerContainer > #footerCenter > .footer1:nth-child(2) {height:184px;}
        footer > #footerContainer > #footerCenter > .footer1:nth-child(3) {height:289px;}
        footer > #footerContainer > #footerCenter > .footer1:nth-child(4) {height:313px;}

        footer > #footerContainer > #footerCenter > .footer1 > #logo {width:60px; height:27px;}
        footer > #footerContainer > #footerCenter > .footer1 > p {width:240px; height:auto; font-size: 14px; margin:0 0 16px; line-height: 25px; color:#999;}
        footer > #footerContainer > #footerCenter > .footer1 > #signature {width:144px; height:40px;}

        footer > #footerContainer > #footerCenter > .footer1 > h3{width:240px; height:23px; font-size: 15px; margin: 0 0 16px; color:#fff;}
        footer > #footerContainer > #footerCenter > .footer1 > ul > li {width:240px; height:36px; font-size: 14px; margin: 0 0 -1px; padding: 6px 0; color:#999;}
        footer > #footerContainer > #footerCenter > .footer1 > ul > li > a {color:#B5A46D}

        footer > #footerContainer > #footerCenter > .footer1 > .day {width:240px; height:36px; padding:6px 20px 6px 0;  display: flex;}
        footer > #footerContainer > #footerCenter > .footer1 > .day > .openingDay {font-size: 14px; color: #999;}
        footer > #footerContainer > #footerCenter > .footer1 > .day > .openingTime {font-size: 13px; color: #CCC;}
        footer > #footerContainer > #footerCenter > .footer1 > .day > .openLine {flex-grow: 1; height:24px; border-bottom: 1px dotted #999; margin:-13px 0 0 0;}


        footer > #footerContainer > #footerBottom {width:530px; height:46px;  display: flex;}
        footer > #footerContainer > #footerBottom > #bottom1 {width:140px; height:35px; padding:0 15px}
        footer > #footerContainer > #footerBottom > #bottom1 > #iconBox > ul {width:150px; height:35px; display: flex;}
        footer > #footerContainer > #footerBottom > #bottom1 > #iconBox > ul > li {width:16px; height:28px; margin:0 4px 0 0;}
        footer > #footerContainer > #footerBottom > #bottom1 > #iconBox > ul > li > a > img {width:13px; height:13px; }
        footer > #footerContainer > #footerBottom > #bottom2 {width:190px; height:41px; text-align: center; margin:auto 0; padding:0 15px;}
        footer > #footerContainer > #footerBottom > #bottom2 > p {color:#fff; font-size: 12px;}
        footer > #footerContainer > #footerBottom > #bottom2 > p > a {color:#B5A46D; font-size: 12px;}

        footer > #footerContainer > #footerBottom > #bottom3 {width:200px; height:46px; padding:0 15px; text-align: right;}
        footer > #footerContainer > #footerBottom > #bottom3 > p {font-size: 13.5px; color:#7A7A7A; float: right;}
        }
